.name-log-in{
    height:40px;
    width:350px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-top: 150px;
    background-color: #a6c8ff;
    border:none;
    outline-color: #81b1ff;
    font-size: 15px;
    box-shadow:3px 3px 20px -10px;
    -webkit-tap-highlight-color: transparent;
    border-radius:7px;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
.name-text{
    font-size: 18px;
    position: absolute;
    left:50%;
    transform: translateX(-170px);
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  margin-top: 120px;

}