.title-1{
    position: absolute;
    margin-left: 30px;
    z-index: 2;
    font-size: 30px;
    margin-top: 0px;
    color: #000000;
}
.message-1{
    position: absolute;
    margin-left: 80px;
    z-index: 2;
    font-size: 20px;
    margin-top: 50px;
}
.left_window{
    position: absolute;
    position: fixed;
    margin-left: -50px;
    z-index: 2;
    width: 100px;
    height: 100vw;
    background-color: #b3d1ff;
    margin-top: -50px;
}
.fa{
    position: absolute;
    z-index: 3;
}
.fa-home{
    position: absolute;
    margin-left: 300px;
    margin-top: 10px;
    color: #67a1ff;
}
.fa-home:hover{
    color: #5c9afd;
    transition: all 0.3s;
}
.top-1{
    height: 3px;
    width: 40px;
    background-color: #7fb2ff;
    position: absolute;
    z-index: 2;
    margin-left: 295px;
    margin-top: 50px;
}
.window-2{
    position: absolute;
    z-index: 2;
    margin-left: 20px;
    margin-top: 90px;
    width: 500px;
    height: 300px;
    background-color: #b3d1ff;
    border-radius:10px;
    box-shadow:10px 10px 50px -30px;
}
.window-text{
    margin-left: 40px;
    margin-top: 110px;
    position: absolute;
    z-index: 2;
    color:#000000;
    font-size: 20px;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
@media (max-width:768px) {
.fa-home{
    position: absolute;
    margin-left: 170px;
    margin-top: 10px;
    color: #67a1ff;
}
.top-1{
    height: 3px;
    width: 40px;
    background-color: #7fb2ff;
    position: absolute;
    z-index: 2;
    margin-left: 165px;
    margin-top: 50px;
}
.window-2{
    position: absolute;
    z-index: 2;
    margin-left: 10px;
    margin-top: 90px;
    width: 400px;
    height: 300px;
    background-color: #b3d1ff;
    border-radius:10px;
    box-shadow:10px 10px 50px -30px;
}
.window-text{
    margin-left: 40px;
    width: 350px;
    margin-top: 110px;
    position: absolute;
    z-index: 2;
    color:#000000;
    font-size: 20px;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}







}